html {
    /* 1 rem = 10px */
    font-size: 62.5%;   
    display: flex;
    justify-content: center;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 180rem;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}